body {background-color: #6DCFFB;}

.div1 {
    background-color: #0c0c0d;
<<<<<<< HEAD
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    p {font-size: 125%;}
}

.div2 {
    background-color: #01427A;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 450px;
    margin: auto;
    margin-top: 150px;
    border-radius: 10px;
}

.AloitaNappi {
    background-color: #50C878;
    height: 75px;
    width: 175px;
    font-size: 130%;
    color: white;
    border-radius: 10px;
=======
>>>>>>> 9dd2f42aa3883e39b1125d14c26ac5d145d764e0
}

p {
    color: white;
}

<<<<<<< HEAD
h1, h2 {color: white;}
=======
h1 {color: white;}
>>>>>>> 9dd2f42aa3883e39b1125d14c26ac5d145d764e0
